.vs/WebApp_Security/config/applicationhost.config
.vs/WebApp_Security/DesignTimeBuild/.dtbcache.v2
.vs/WebApp_Security/FileContentIndex/6ce1551c-374d-4f1c-8e40-df6a6f6fa190.vsidx
.vs/WebApp_Security/v17/.suo
WebAppForSecurity/obj/Debug/net8.0/WebAppForSecurity.sourcelink.json
